<div class='child-new'>
  <div class='child-new-form' >
    <%= form_with(model: @child, local: true) do |f| %>
      <h1 class="child-new-page-heading">あなたのしたのなまえをおしえてください</h1>
      <%= f.text_field :name, placeholder:"なまえ", class:'child-new-name' %>
      <h1 class="child-new-page-heading">そだてたい「き」をえらんでください</h1>
      <div>
        <%= f.collection_select(:tree_id, Tree.all, :id, :name, {}, {class:'child-new-tree'}) %>
      </div>
      <%= f.submit "けってい", class:'child-new-submit' %>
    <% end %>
  </div>
</div>